    <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>ArmaTuEquipoYA  | Creación de Tecnico</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del Jugador</strong></h4>              
          <div class="card-body">
          <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     th:text="${mensaje}"
     class="alert">
	 	</div>  
	 	
            <form th:action="@{/jugador/nuevojugador}" th:object="${jugador}" method="post" enctype="multipart/form-data">  
             
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>
			  
			  <input type="hidden" th:field="*{id}" />	
                       
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}"  id="nombre" name="nombre" placeholder="Nombre" required="required">
                    <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"> </p>
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                     <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" th:field="*{apellido}" id="apellido" name="apellido" placeholder="Apellido" required="required">
                    <p th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"> </p>
                  </div> 
                </div>    
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="posicion">Posicion</label>
                    <select class="form-control" th:field="*{posicion}">
                      <option value="Delantero">Delantero</option>
                      <option value="Defensor">Defensor</option>
                      <option value="Mediocampista">Mediocampista</option>
                       <option value="Arquero">Arquero</option>	                  
                    </select>
                  </div>
                </div>

                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" th:field="*{categoria}" name="categoria" id="categoria">
					  <option value="Titular">Titular</option>
                      <option value="Suplente">Suplente</option>
                      <option value="Juvenil">Juvenil</option>
                       <option value="Leyenda">Leyenda</option>	
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="edad">Edad</label>
                    <input type="text" class="form-control" th:field="*{edad}" name="edad" id="edad" placeholder="edad" required="required">
                  </div>  
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="pais">Pais</label>
                    <input type="text" class="form-control" th:field="*{pais}" name="pais" id="pais" placeholder="pais" required="required">
                  </div>
                </div>
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                 <div class="form-group">
                    <label for="valuacion">Valuacion</label>
                    <input type="text" class="form-control" th:field="*{valuacion}" name="valuacion" id="valuacion" placeholder="valuacion" required="required">
                  </div>
                </div> 
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="imagen">Imagen</label>
                   <input class="form-control" type="file" name="file" id="imagen"/>
                  </div>
                </div>
              	</div>
              <hr>
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>