
	      <!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
       	<!--JQUERY-->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    
	    <!-- Los iconos tipo Solid de Fontawesome-->
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

     	<!-- Link hacia el archivo de estilos css -->
    	<link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
   
    </head>
    
    <body>
    			<h1 >Te has deslogueado.</h1>
		<div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="static/img/user.png" th:src="@{/images/user.png}"/>
                </div>
                 <form th:action="@{/loginprocess}" method="post">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control"  name="username" id="username" placeholder="Username" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
                
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Usuario o Contraseña Invalido.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Usted a sido desconectado.
		        </div>
            </div>
        </div>
    </div>
    </body>
</html>