<h1> JUGADOR </h1>
<p> NOMBRE: <span th:text="${jugador.nombre}" />
<p> APELLIDO: <span th:text="${jugador.apellido}" />
<p> EDAD: <span th:text="${jugador.edad}" />
<p> PAIS: <span th:text="${jugador.pais}" />
<p> POSICION: <span th:text="${jugador.posicion}" />
<p> CATEGORIA: <span th:text="${jugador.categoria}" />
<p> IMAGEN: <span th:text="${jugador.imagen}" />
<p> VALUACION: <span th:text="${jugador.valuacion}" />


<h1>---- PERSONAS Cargadas!!!!! --- </h1>

<table>
	<tr>
		<th>Nombre</th>
		<th>Edad</th>
		<th>Apellido</th>
		<th>Pais</th>
		<th>Categoria</th>
		<th>Imagen</th>
		<th>Valuacion</th>
	</tr>

	<tr th:each="p : ${listaJugador}">
		<td th:text="${p.nombre}"></th>
		<td th:text="${p.edad}"></td>
		<td th:text="${p.apellido}"></td>
		<td th:text="${p.pais}"></td>
		<td th:text="${p.categoria}"></td>
		<td th:text="${p.imagen}"></td>
		<td th:text="${p.valuacion}"></td>
	
		
	</tr>
<p class="warning">Para ver todo el equipo completo presione : [<a th:href="@{/jugador/tablaJugador}" target="_blank">AQUI</a>]</p>
</table>