<link rel="stylesheet" type="text/css"  th:href="@{/css/tabla.css}"> 

<h1>Plantilla de jugadores <code>y tecnico con su club</code></h1>
<p class="warning">El usuario conectado es: [<a href="http://caniuse.com/#feat=css-sticky" target="_blank">Fernando</a>]</p>
<main class="st_viewport">
  <div class="st_wrap_table" data-table_id="0">
    <header class="st_table_header">
      <h2>Jugadores</h2>
      <div class="st_row">
      	<div class="st_column _imagen">Imagen</div>
        <div class="st_column _nombre">Nombre</div>
        <div class="st_column _apellido">Apellido</div>
        <div class="st_column _pais">Paies</div>
        <div class="st_column _edad">Edad</div>
        <div class="st_column _categoria">Categoria</div>
        <div class="st_column _categoria">Valuacion</div>
      </div>
    </header>
    <div class="st_table">
      <div class="st_row" th:each="p : ${listaJugador}">
     	<div class="st_column _imagen" th:text="${p.imagen}"></div>
        <div class="st_column _nombre" th:text="${p.nombre}"></div>
        <div class="st_column _apellido" th:text="${p.apellido}"></div>
        <div class="st_column _pais" th:text="${p.pais}"></div>
        <div class="st_column _edad" th:text="${p.edad}"></div>
        <div class="st_column _categoria" th:text="${p.categoria}"></div>
        <div class="st_column _imagen" th:text="${p.valuacion}"></div>
      </div>
    </div>
  </div>
  <div class="st_wrap_table" data-table_id="1">
    <header class="st_table_header">
      <h2>Tecnico</h2>
      <div class="st_row">
      	<div class="st_column _imagen">Imagen</div>
        <div class="st_column _rank">Nombre</div>
        <div class="st_column _name">Apellido</div>
        <div class="st_column _surname">Edad</div>
        <div class="st_column _year">Pais</div>
        <div class="st_column _section">Cantidad de titulos</div>
      </div>
    </header>
    <div class="st_table">
      <div class="st_row" th:each="t : ${listaTecnico}">
      	<div class="st_column _rank" th:text="${t.imagen}"></div>
        <div class="st_column _rank" th:text="${t.nombre}"></div>
        <div class="st_column _name" th:text="${t.apellido}"></div>
        <div class="st_column _surname" th:text="${t.edad}"></div>
        <div class="st_column _year" th:text="${t.pais}"></div>
        <div class="st_column _section" th:text="${t.cantidad}"></div>
      </div>
    </div>
  </div>
  <div class="st_wrap_table" data-table_id="2">
    <header class="st_table_header">
      <h2>Club</h2>
      <div class="st_row">
        <div class="st_column _rank">Imagen</div>
        <div class="st_column _name">Nombre</div>
        <div class="st_column _surname">Apodo</div>
        <div class="st_column _year">Año de Fundacion</div>
        <div class="st_column _section">Presidente</div>
      </div>
    </header>
    <div class="st_table">
      <div class="st_row" th:each="c : ${listaClub}">
        <div class="st_column _rank" th:text="${c.imagen}"></div>
        <div class="st_column _name" th:text="${c.nombre}"></div>
        <div class="st_column _surname" th:text="${c.apodo}"></div>
        <div class="st_column _year" th:text="${c.anio}"></div>
        <div class="st_column _section" th:text="${c.presidente}"></div>
      </div>
    </div>
  </div>
</main>
<footer>
  <pre>
    <code>
/**
 * Creado por Jonathan Veliz
 *
 **/
    </code>
  </pre>
</footer>